.proyectos-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    flex: 1; 
    background-color: #1f5122;
}

.proyectos-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    padding: 20px; 
}

@media (max-width: 768px) {
    .proyectos-list {
        align-items: center;
        margin-left: -40px;
    }
    .title-pro{
        margin-left: -20px;
    }
}
  