.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    justify-content: center;
    height: auto; 
    padding: 50px;
}

.img-container {
    text-align: center; 
}

.round-image {
    border-radius: 60%;
    max-width: 60%; 
    height: auto;
    margin: 0 auto;
    border: 2px solid #000000 ;
}

.text-container {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.text-total {
    text-align: start;
}

.button-aboutme {
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.button-aboutme:hover {
    background-color: #000000;
    color: #ffffff;
}

.top-right-button {
    position: absolute;
    top: 90px;
    right: 20px;
    margin-top: -90px;
}

/*ANIMACIONES*/
.about-container {
  opacity: 0;
  transform: translateX(-300px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
/* 
.icon-container,
.link-boton-aboutme {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
} */

.about-container.show {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 768px) {
    .about-container {
        grid-template-columns: 1fr; 
    }
    .text-container {
        margin-top: 0; 
        width: 300px;

    }
    .img-container {
        margin-left: 20px;
    }
}
