.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto; 
  text-align: center;
  padding: 20px;

  padding-top: 80px;
}

.title {
  font-size: 40px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.img-icons {
  width: 40px;
  height: auto;
  margin: 0 10px;
  transition: transform 0.3s;
}

.img-icons:hover {
  transform: scale(1.1);
}

.button-aboutme {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  transition: border 0.3s, background-color 0.3s;
  margin-top: 20px;
}

.button-aboutme:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .home-container {
    width: 80%;
    align-items: center;
  }
}