.nav-container {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #000000;
    padding: 0 20px;
}

.nav-link {
    margin-right: 20px; 
    color: rgb(255, 255, 255); 
    text-decoration: none; 
    font-weight: bold; 
}


@media (max-width: 768px) {
    .nav-container {
        flex-direction: row;
        height: auto;
        padding: 10px;
        text-align: center;
        font-size: 12px;
        justify-content: space-between;
    }

    .nav-link {
        margin: 7px 0; 
    }
}